package logic

import (
	"context"
	"go.uber.org/zap"
	"{{.ProjectName}}/ent"
	"{{.ProjectName}}/ent/user"
	"{{.ProjectName}}/internal/types"
	"{{.ProjectName}}/pkg/response"
)

type {{.ServiceName}}{{.LogicName}}Logic struct {
	svc *svc.Service
}

func New{{.ServiceName}}{{.LogicName}}Logic(client *ent.Client, logger *zap.Logger) *{{.ServiceName}}{{.LogicName}}Logic {
	return &{{.ServiceName}}Logic{
		svc: svc,
	}
}

func (l *{{.LogicName}}Logic) {{.LogicName}}() response.Response {

	return response.Success(types.UserInfoResponse{nil})
}
